@font-face{
  font-family: jorime;
  src: url('fonts/Montserrat-Regular.ttf');
}

@font-face{
  font-family: bebas;
  src: url('fonts/BebasNeue-Regular.otf');
}

body{
  margin:0;
  padding:0;
  overflow: hidden;
}
.js-horizontal-button{
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(0,0,0,0);
  border:0;
  border:1px solid black;
  font-size:40px;
  border-radius:50%;
  outline:0;
}
.right-button{
  bottom:5px;
  right:5px;
}

.left-button{
  bottom:5px;
  left: 5px;
}

.js-horizontal-button:hover{
  border: 1px solid yellow;
}

a, .link{
  color: #39CCC7;
  text-decoration:none;
  transition: all 1s;
}

a:hover, .link:hover{
  /* color: #39CCC7; */
  cursor: pointer;
}

a:visited{
  color:black;
}
#menubutton{
  float:left;
  height: 100vh;
  width: 5%;
  display: flex;
  justify-content:center;
  align-items:center;
  font-size:40px;
-webkit-box-shadow: 4px -1px 6px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 4px -1px 6px -1px rgba(0,0,0,0.75);
box-shadow: 4px -1px 6px -1px rgba(0,0,0,0.75);
}

#menu{
  float: left;
  height: 100vh;
  max-height: 100vh;
  width:25%;
  display:none;
  flex-direction: column;
  font-size:40px;
  overflow:hidden;
  -webkit-box-shadow: 4px -1px 6px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 4px -1px 6px -1px rgba(0,0,0,0.75);
box-shadow: 4px -1px 6px -1px rgba(0,0,0,0.75);
}

#menu > ul{
  margin-top:0;
  margin-bottom:0;
  height: 50px;
  padding:0;
  text-align:left;
  font-size: 20px;
  width: 100%;
  display:flex;
  justify-content:space-around;
  list-style-type:none;
}

#menu  > ul li#active-link{
  color: #39CCC7;
}

#menu p{
  font-size:16px;
  margin:0;
  padding:0;
  max-width:100%;
  padding: 2%;
}

div{
  position:relative;
  min-height: 100vh;
  width: 100%;
}

#home{
  float: left;
  width: 95%;
  background-image: url('../images/home/background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}
#home-overlay{
  display:absolute;
  opacity:0;
  background-color: rgb(0,0,0);
}

#home h1{
  position: absolute;
  top:35%;
  left: 15%;
  font-size: 60px;
  font-family: jorime;
  padding: 0;
  margin: 0;
}

#home h2{
  position: absolute;
  top: 22%;
  left: 15.5%;
  font-family: bebas;
  font-size: 30px;
  color: #A5A7A7;
  letter-spacing: 3px;
}

#home h3{
  position: absolute;
  top: 65%;
  left: 15.5%;
  font-family: jorime;
  font-size: 16px;
  color: #A5A7A7;
  letter-spacing: 3px;
}
div:nth-child(odd){
} 

div:not(#home){
  clear:both;
}

#closebutton{
  text-align:right;
  margin-bottom: 2%;
}

.js-menu-item{
  transition: all 1s;
  opacity:1;
  padding: 15px 15% 0 15%;
}

.js-menu-item h1, .js-menu-item p, .js-menu-item li, .js-menu-link{
  font-family: jorime;
  margin: 0;
  padding-left: 1%;
  margin-bottom: 20px;
}


.hidden{
  opacity:0;
  display:none;
}

#work{
  clear: both;
}

label{
  font-size: 14px;
}
.js-menu-item form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.js-horizontal-slider {
  display:none;
}

.js-menu-link{
  color: #191a1a;
}

.js-menu-link:after {
  content: '';
  display: block;
  border-bottom: 3px solid #39CCC7;
  width: 0;
  position: relative;
  right: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.js-menu-link:hover:after,.js-menu-link:hover:before{
  width: 50%;
}

.js-menu-item h1{
  font-size: 30px;
}

.js-menu-item p{
  font-weight: bold;
}

.sub-paragraph{
  font-weight: normal;
  margin-top: 20px!important;
  font-size: 14px!important;
}

.js-menu-item h2{
  font-family: jorime;
  font-size: 20px;
  text-transform: uppercase;
  color: #A5A7A7;
}

.js-menu-item h3{
  font-family: jorime;
  font-size: 18px;
  margin-left: 2%;
  color: #A5A7A7;
}

.lists{
  display: flex;
  justify-content: space-between
}

.lists ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.lists ul li{
  font-size: 14px;
  padding: 0;
}

.contact-details{
  padding-top: -50px;
}